[submodule "ebezard-backend"]
	path = ebezard-backend
	url = https://github.com/dariofugale95/ebezard-backend
[submodule "ebezard-frontend"]
	path = ebezard-frontend
	url = https://github.com/dariofugale95/ebezard-frontend
