[submodule "ebezard-backend"]
	path = ebezard-backend
	url = https://github.com/dariofugale95/ebezard-backend
[submodule "ebezard-frontend"]
	path = ebezard-frontend
	url = https://github.com/dariofugale95/ebezard-frontend
[submodule "ebezard-apigateway"]
	path = ebezard-apigateway
	url = https://github.com/dariofugale95/ebezard-apigateway.git
[submodule "ebezard-sp"]
	path = ebezard-sp
	url = https://github.com/dariofugale95/ebezard-sp.git
[submodule "ebezard-marketplace"]
	path = ebezard-marketplace
	url = https://github.com/dariofugale95/ebezard-marketplace.git
[submodule "ebezard-landing"]
	path = ebezard-landing
	url = https://github.com/dariofugale95/ebezard-landing.git
