[submodule "ecommerce-builder-backend"]
    path = ecommerce-builder-backend
    url = https://github.com/dariofugale95/ecommerce-builder-backend
[submodule "ecommerce-builder-frontend"]
    path = ecommerce-builder-frontend
    url = https://github.com/dariofugale95/ecommerce-builder-frontend