# === STACK/PROJECT ===
PROJECT_NAME=ebezard
COMPOSE_PROJECT_NAME=${PROJECT_NAME}-prod

# === DJANGO SUPERUSER CREDENTIALS ===
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=adminpass

# === DATABASE CONFIGURATION ===
DB_PORT_SOURCE=5432
DB_PORT_TARGET=5432
POSTGRES_DB=${PROJECT_NAME}
POSTGRES_USER=${PROJECT_NAME}
POSTGRES_PASSWORD=${PROJECT_NAME}

# === BACKEND SERVICE ===
BACKEND_PORT_SOURCE=8000
BACKEND_PORT_TARGET=8000
DEBUG=False
SECRET_KEY="django-insecure-CHANGE_ME"
ALLOWED_HOSTS=127.0.0.1,localhost,backend,backend-prod
DATABASE_URL=postgres://${PROJECT_NAME}:${PROJECT_NAME}@db-prod:${DB_PORT_TARGET}/${PROJECT_NAME}
BACKEND_BASE_URL=http://backend-prod:${BACKEND_PORT_TARGET}

# === FRONTEND SERVICE ===
FRONTEND_PORT_SOURCE=5173
FRONTEND_PORT_TARGET=5173
VITE_BACKEND_URL=http://localhost:${BACKEND_PORT_SOURCE}
VITE_FRONTEND_URL=http://localhost:${FRONTEND_PORT_SOURCE}
VITE_TEST_ENV=false
VITE_PROJECT_NAME=${PROJECT_NAME}

# === MARKETPLACE SERVICE ===
MARKETPLACE_PORT_SOURCE=8200
MARKETPLACE_PORT_TARGET=8200
MARKETPLACE_BASE_URL=http://marketplace-prod:${MARKETPLACE_PORT_TARGET}


# === API GATEWAY SERVICE ===
APIGATEWAY_PORT_SOURCE=8300
APIGATEWAY_PORT_TARGET=8000
VITE_API_GATEWAY_URL=http://localhost:${APIGATEWAY_PORT_SOURCE}

# === LANDING SERVICE ===
LANDING_PORT_SOURCE=8088
LANDING_PORT_TARGET=8088

# === SP SERVICE ===
SP_PORT_SOURCE=8500
SP_PORT_TARGET=8500
SP_BASE_URL=http://sp-prod:${SP_PORT_TARGET}

 # === AUTH SERVICE ===
AUTH_PORT_SOURCE=8003
AUTH_PORT_TARGET=8003
OAUTH_CLIENT_ID=your_oauth_client_id_here
OAUTH_CLIENT_SECRET=your_oauth_client_secret_here
OIDC_RSA_PRIVATE_KEY_PATH=/app/oidc_rsa_private_key.pem
OAUTH_AUTHORIZE_URL=https://auth.yourdomain.com/o/authorize/
OAUTH_REDIRECT_URI=https://landing.yourdomain.com/post-register-redirect
OAUTH_POST_LOGOUT_REDIRECT_URI=https://landing.yourdomain.com/
AUTH_DEBUG=False
AUTH_SECRET_KEY="django-insecure-CHANGE_ME"
ALLOWED_HOSTS_AUTH=127.0.0.1,localhost,auth,auth-prod,api-gateway,api-gateway-prod
AUTH_BASE_URL=http://auth-prod:${AUTH_PORT_TARGET}

# Django superuser for Auth service
AUTH_DJANGO_SUPERUSER_USERNAME=admin_auth
AUTH_DJANGO_SUPERUSER_EMAIL=admin_auth@example.com
AUTH_DJANGO_SUPERUSER_PASSWORD=adminpass_auth

# === AUTH SERVICE DATABASE ===
AUTH_DB_PORT_SOURCE=5433
AUTH_DB_PORT_TARGET=5432
AUTH_DB_NAME=ebezard_auth
AUTH_DB_USER=ebezard_auth
AUTH_DB_PASSWORD=ebezard_auth

# Connection string for Auth service (used ONLY by ebezard-auth)
AUTH_DATABASE_URL=postgres://${AUTH_DB_USER}:${AUTH_DB_PASSWORD}@db-auth:${AUTH_DB_PORT_TARGET}/${AUTH_DB_NAME}
# Allowed origins for API Gateway CORS (prod)
ALLOWED_ORIGINS_GATEWAY=https://frontend.yourdomain.com,https://landing.yourdomain.com,https://marketplace.yourdomain.com,https://sp.yourdomain.com,https://backend.yourdomain.com,https://gateway.yourdomain.com
